
.nav-links{
    font-size: 1.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .5rem 1rem;
}

.nav-links__link{
    transition: font .5s ease, color .5s ease;
}

.nav-links__link-hover:hover{
   color: white; 
   font-weight: 600;
}

.hero{
    height: 80vh;
    padding: 1rem;
    text-align: center;
    text-wrap: balance;
    color: white;
    background: linear-gradient(to right top, #0000008a, #0000008a), url(../../assets/hero-background.webp);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    @media (width >= 650px) {
        height: 85vh;
    }
}

.hero__title{
    font: normal normal 500 clamp(2.5rem, 9vw, 4.5rem) var(--logo-font);
}
.hero__subtitle{
    font: normal normal 200 clamp(1.5rem, 5vw, 2.4rem) var(--default-font);
}
.register-link{
    background-color: var(--purple-dark);
    color: var(--orange);
    padding: 1rem 2rem;
    border-radius: .5rem;
    font: normal normal 600 1.7rem var(--default-font);
    transition: color .5s ease;
}

.register-link-hover:hover{
    color: white;
}

.search-movies{
    height: 70vh;
    padding: 1rem 2rem;
    color: var(--bordo-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.search-movies__title{
    font: normal normal 500 clamp(2.5rem, 9vw, 4rem) var(--logo-font);
    text-align: center;
    text-wrap: balance;
}
.search-movies-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.search-movies-form__search-movie{
    border-radius: .5rem;
    padding: .5rem;
    font: normal normal 500 1.2rem var(--default-font);
    border: 2px solid var(--bordo-dark);
    outline: none;
    color: var(--orange);
}
.search-movies-form__search-movie::placeholder{
    color: rgba(200, 12, 2, 0.7);
}

.search-movies-form__submit{
    background-color: var(--purple-dark);
    color: var(--orange);
    padding: .5rem 1rem;
    border-radius: .5rem;
    font: normal normal 600 1.4rem var(--default-font);
    cursor: pointer;
}

.custom-shape-divider-top-1714410068,
.custom-shape-divider-top-1714416839 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1714410068 svg,
.custom-shape-divider-top-1714416839 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1714410068 svg{
    margin-bottom: 4rem;
}

.custom-shape-divider-top-1714410068 .shape-fill {
    fill: white;
}

.new-movies{
    background-color: var(--bordo-dark);
    color: white;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-bottom: 10rem;
}

.new-movies__title{
    font: normal normal 500 clamp(2.5rem, 9vw, 4rem) var(--logo-font);
    text-align: center;
    text-wrap: balance;
}

.new-movies-list{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.new-movie-item{
    background-color: var(--bordo-light);
    position: relative;
    transition: scale .4s ease;
}

.new-movie-item,
.new-movie-item__image,
.random-movie-item__image {
    border-radius: .5rem;
    max-width: 200px;
    max-height: 300px;
    object-fit: cover;
}

.new-movie-item__movie-name{
    position: absolute;
    width: 100%;
    top: 0;
    background: linear-gradient(to top, transparent 0%, rgba(0,0,0, 0.5) 30% , rgba(0,0,0, 0.9) 100%);
    border-radius: .5rem .5rem 0 0;
    text-align: center;
    padding: 1rem 0;
    font: normal normal 500 1.2rem var(--default-font);
    text-wrap: balance;
}

.new-movie-item-hover:hover{
    scale: 0.95;
}

.custom-shape-divider-top-1714416839 .shape-fill {
    fill: var(--bordo-dark);
}

.random-movies{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-bottom: 4rem;
}

.random-movies__title{
    font: normal normal 500 clamp(2.5rem, 9vw, 4rem) var(--logo-font);
    text-align: center;
    text-wrap: balance;
    color: var(--bordo-light);
}

.random-movies-list{
    display: flex;
    gap: 1rem;
    width: 80%;
    padding: 1rem 0;
    overflow-x: scroll;
}

.footer{
    padding: 1rem;
    background-color: var(--purple-dark);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright{
    font: normal normal 400 1.3rem var(--default-font);
}
.up-link{
    font: normal normal 400 2rem var(--default-font);
}
